<div style="text-align: center">
<h1 style="-webkit-text-fill-color: crimson">WELCOME {{name}}</h1>
</div>
<div class="container">
    <h3><p>As we know many institution are currently using the manual mode of handling the attendance in which work carries in two phases as at first phase taking the attendance in the sheet manually and in the second phase details are entered and at last the reports are generated manually which might have errors. Student Attendance Information System is the software developed for daily student attendancein colleges, schools etc. Its facilities are to access the student information of a particularstudent in a class.</p></h3>
    <h3><p>This System will also help in evaluating the criteria of student. Thisapplication is built for automation the process of attendance. It also enhances the speed of performing attendance task easily. It generates the periodic report to keep a check on the student who are regular and who are not.</p></h3>
 </div>
<br><br>
 <div style="text-align: center">
<h1>To display data click &nbsp;&nbsp; <a routerLink="/display">HERE</a></h1> 
</div>